[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-extensions = "*"
djoser = "*"
googlemaps = "*"
requests = "*"
django-cors-headers = "*"
whitenoise = "*"
boto3 = "*"
django-storages = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"
pdbpp = "*"
werkzeug = "*"
responses = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
