<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Use the form below to change your password. Your password cannot be the same as your username.</p>
<form role="form" method="post">
    {% csrf_token %}
  <input type="password" name="password1" placeholder="New Password">
  <input type="submit">
</form>
</body>
</html>